/venv
.claude/worktrees/unruffled-nightingale-45aa65/
.claude/worktrees/confident-cerf-16a951/
.claude/worktrees/dreamy-gould-2c049e/
.claude/worktrees/serene-cray-eb4ad0/
.claude/worktrees/stoic-yonath-330836/
